/* .fullContainer {
  background-color: purple;
  background-image: url("../imgs/background11.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: fill;
} */
