@keyframes cardEntrance {
  from {
    opacity: 0;
    /* transform: scale(0.99); */
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.musicContainer {
  color: white;
  height: 100%;
  width: 100%;
  padding-top: 7%;
  /* background-color: purple; */
  /* background-color: rgba(255, 165, 0, 0.5); */
  background-color: rgba(255, 234, 41, 0.5);

  --stagger-delay: 100ms;
}

.musicGrid {
  height: 70vh;
  width: 60%;
  /* padding: 200px; */
  margin: 5% auto 0;
  padding-bottom: 5%;
  /* margin-top: 25px; */

  display: grid;
  grid-template-areas: "prod prod prod";
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px;
  grid-gap: 15px;
  justify-content: center;

  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
  animation-delay: 500ms;
}

/* iframe {
  border: 0;
  width: 100%;
  height: 100%;
} */

/* .musicGrid:nth-child(2) {
  animation-delay: calc(1 * var(--stagger-delay));
}
.musicGrid:nth-child(3) {
  animation-delay: calc(2 * var(--stagger-delay));
}
.musicGrid:nth-child(4) {
  animation-delay: calc(3 * var(--stagger-delay));
} */
