.headerContainer {
  background-color: var(--main-bg-color);

  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;

  width: 100%;
  position: fixed;
  z-index: 1;

  border-bottom: black 1px solid;
}

.burger {
  display: none;
}
