:root {
  --main-bg-color: rgba(25, 25, 25, 1);
  --main-text-color: rgba(255, 255, 255, 0.7);
}

body {
  background-image: url("../src/imgs/background11.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: fill;
  margin: 0;

  font-family: "Roboto", sans-serif;
}

a {
  outline: 0;
}
